* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

header a {
    text-decoration: none;
    color: #989D9C;
    margin-right: 23px;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

header button {
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    border: none;
    cursor: pointer;
    background: #665AE1;

    font-weight: 600px;
    font-size: 24px;
    line-height: 29.26px;
    color: white;
    text-transform: uppercase;
}

.img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
}

h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}

p {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    width: 515px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
}

main {
    text-align: left;
    color: #515151;
}

main button {
    width: 239px;
    height: 64px;
    border-radius: 30px;
    background: #ADFF00;
    border: none;
    cursor: pointer;

    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Media query */
@media(max-width: 1000px){
    .img {
        width: 700px;
        height: 600px;
        margin: 0 auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    header {
        margin: 44px 0 144px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section p {
        visibility: hidden;
        font-size: 24px;
        font-weight: 0;
        line-height: 0px;
        width: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }   
    
    section button {
        visibility: visible;
        width: 550px;
        height: 85px;
        margin-bottom: 50px;
    }

    section h2 {
        margin-bottom: 17px;
    }

    section {
        display: block;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 700px) {
    .img {
        width: 600px;
        height: 500px;
    }

    header {
        visibility: hidden;
        margin: 44px 0 80px 0px;
    }
}

@media(max-width: 600px) {
    .img {
        width: 500px;
        height: 400px;
    }

    h1 {
        font-size: 80px;
        font-weight: 900;
        line-height: 122px;
    }
    
    h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 71px;
    }

    section button {
        width: 450px;
        height: 85px;
    }
}

@media(max-width: 500px) {
    .img {
        width: 400px;
        height: 320px;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 60px;
        font-weight: 900;
        line-height: 122px;
        margin-left: 42px;
    }
    
    h2 {
        font-size: 38px;
        font-weight: 500;
        line-height: 71px;
        margin-left: 42px;
    }

    section button {
        width: 350px;
        height: 65px;
        margin-left: 42px;
    }

}

@media(max-width: 400px) {
    .img {
        width: 350px;
        height: 280px;
        display: flex;
        justify-content: center;
        margin-left: 45px;
    }

    h1 {
        font-size: 60px;
        font-weight: 900;
        line-height: 122px;
        margin-left: 85px;
    }
    
    h2 {
        font-size: 38px;
        font-weight: 500;
        line-height: 71px;
        margin-left: 85px;
    }

    section button {
        width: 350px;
        height: 65px;
        margin-left: 85px;
    }
}